
<% if header.present? %>
  
    

   <% if header.image.present? %>
<div style="background-image:url(<%=header.image_url(:large)%>); background-size:cover; margin-top:-25px" class="background-header">


</div>

      <% end %>
<div style="margin-top:20px">
<h3>Herzlich Willkommen – Gestalten Sie Ihre Stadt mit!</h3>

<p>Machen Sie mit! Beteiligen Sie sich aktiv an Planungen und informieren Sie sich über aktuelle Projekte, starten Sie Diskussionen und sammeln Sie Ideen – Ihre Meinungen kommen an!</p>

<a style="background-color:#062446; color:white; padding-left:5px; padding-right:5px" href=<%=header.link_url%>> <%=header.link_text%> </a>
</div>

  
<% end %>
