<% if header.present? %>
  
    

   <% if header.image.present? %>
<div style="background-image:url(<%=header.image_url(:large)%>); background-size:cover; margin-top:-43px" class="background-header">


</div>

      <% end %>


  
<% end %>
